@import 'reset';
@import 'common';
@import 'vars';

body {
	font-family: 'Rubik', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.3;
	color: $color-text-primary;
	background-color: $color-bg-light;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.main {
	flex-grow: 1;
}

.section {
	padding-bottom: 120px;
}

.title {
	margin-bottom: 60px;
	font-size: 36px;
	font-weight: 500;
	text-align: center;
	color: $color-text-secondary;
}

@import 'ints';
@import 'header';
@import 'footer';
@import 'components/subscribe-form';
@import 'components/product-card';
@import 'components/contacts';
