$color-primary: #ff6838;
$color-primary-bg: #FFF2ED;
$color-bg-light: #f9faff;
$color-bg-muted: #ececec;
$color-text-primary: #31352B;
$color-text-secondary: #363853;
$color-placeholder: #c2c2c2;
$color-white: #fff;