<footer class="footer">
	<div class="container">
		<div class="footer__wrapper">
			<div class="footer__inner">
				<a class="logo footer__logo" href="#">
					<img class="logo__svg" src="images/logo.svg" width="200" height="39" alt="Логотип SimpleFood">
				</a>
				<form class="subscribe-form">
					<label class="subscribe-form__label" for="footer-email">
						<span class="sr-only">Введіть ваш імейл для підписки</span>
						<input class="subscribe-form__input" id="footer-email" name="email" type="email" placeholder="Ваш email"
							required>
					</label>
					<button class="subscribe-form__button" type="submit">
						<svg class="subscribe-form__icon" width="17" height="16">
							<use href="images/sprite.svg#icon-subscribe"></use>
						</svg>
						Підписатися
					</button>
				</form>
			</div>

			<ul class="footer__menu">
				<li class="footer__item">
					<a class="menu-link" href="#">Як це працює</a>
				</li>
				<li class="footer__item">
					<a class="menu-link" href="#">Про нас</a>
				</li>
				<li class="footer__item">
					<a class="menu-link" href="#">Застосунок</a>
				</li>
				<li class="footer__item">
					<a class="menu-link" href="#">Продукти</a>
				</li>
				<li class="footer__item">
					<a class="menu-link" href="#">Новини</a>
				</li>
				<li class="footer__item">
					<a class="menu-link" href="#">Блог</a>
				</li>
				<li class="footer__item">
					<a class="menu-link" href="#">Страви</a>
				</li>
				<li class="footer__item">
					<a class="menu-link" href="#">Партнери</a>
				</li>
				<li class="footer__item">
					<a class="menu-link" href="#">Що нового?</a>
				</li>
				<li class="footer__item">
					<a class="menu-link" href="#">Меню</a>
				</li>
				<li class="footer__item">
					<a class="menu-link" href="#">ЧаПи</a>
				</li>
				<li class="footer__item">
					<a class="menu-link" href="#">Мапа сайту</a>
				</li>
			</ul>

			<address class="contacts">
				<ul class="contacts__list">
					<li class="contacts__item">
						<a class="contacts__link" href="https://maps.app.goo.gl/2dvHYzFHJYi3pxxx9" target="_blank">
							<svg class="contacts__icon" width="24" height="24">
								<use href="images/sprite.svg#icon-location"></use>
							</svg>
							вул. Т.Г.Шевченка, 1
						</a>
					</li>
					<li class="contacts__item">
						<a class="contacts__link" href="tel:380501112233">
							<svg class="contacts__icon" width="24" height="24">
								<use href="images/sprite.svg#icon-calling"></use>
							</svg>
							380501112233
						</a>
					</li>
					<li class="contacts__item">
						<a class="contacts__link" href="mailto:support@sfood.com">
							<svg class="contacts__icon" width="24" height="24">
								<use href="images/sprite.svg#icon-message"></use>
							</svg>
							support@sfood.com
						</a>
					</li>
				</ul>

				<ul class="social">
					<li class="social__item">
						<a class="social__link" href="https://www.facebook.com/" target="_blank">
							<span class="sr-only">фейсбук</span>
							<svg class="social__icon" width="21" height="21">
								<use href="images/sprite.svg#icon-facebook"></use>
							</svg>
						</a>
					</li>
					<li class="social__item">
						<a class="social__link" href="https://x.com/" target="_blank">
							<span class="sr-only">твітер</span>
							<svg class="social__icon" width="21" height="21">
								<use href="images/sprite.svg#icon-twitter"></use>
							</svg>
						</a>
					</li>
					<li class="social__item">
						<a class="social__link" href="https://www.instagram.com/" target="_blank">
							<span class="sr-only">інстаграм</span>
							<svg class="social__icon" width="21" height="21">
								<use href="images/sprite.svg#icon-instagram"></use>
							</svg>
						</a>
					</li>
				</ul>
			</address>
		</div>
	</div>
	<span class="copyright">© 2023 Simple Food</span>
</footer>