<header class="header">
	<div class="container">
		<div class="header__wrapper">
			<nav class="menu">
				<a class="logo" href="#">
					<img class="logo__img" src="images/logo.svg" width="200" height="39" alt="Логотип SimpleFood">
				</a>
				<ul class="menu__list">
					<li class="menu__item">
						<a class="menu-link active" href="#">Головна</a>
					</li>
					<li class="menu__item">
						<a class="menu-link" href="#">Страви</a>
					</li>
					<li class="menu__item">
						<a class="menu-link" href="#">Контакти</a>
					</li>
				</ul>
			</nav>
			<ul class="user-menu">
				<li class="user-menu__item">
					<button class="user-menu__button" type="button">
						<span class="sr-only">пошукове меню</span>
						<svg class="user-menu__icon" width="21" height="21">
							<use href="images/sprite.svg#icon-search"></use>
						</svg>
					</button>
				</li>
				<li class="user-menu__item">
					<button class="user-menu__button active" type="button">
						<span class="sr-only">кошик покупок</span>
						<svg class="user-menu__icon" width="21" height="20">
							<use href="images/sprite.svg#icon-shopping-bag"></use>
						</svg>
						<span class="user-menu__bag-count">4</span>
					</button>
				</li>
			</ul>
		</div>
	</div>
</header>