<section class="section categories">
	<div class="container">
		<h2 class="title">Популярне в категоріях</h2>
		<ul class="filter">
			<li class="filter__item">
				<button class="filter__btn active" type="button" data-filter=".burger">
					<svg class="filter__icon" width="44" height="44">
						<use href="images/sprite.svg#icon-burger"></use>
					</svg>
					Бургери
				</button>
			</li>
			<li class="filter__item">
				<button class="filter__btn" type="button" data-filter=".pizza">
					<svg class="filter__icon" width="44" height="44">
						<use href="images/sprite.svg#icon-pizza"></use>
					</svg>
					Піца
				</button>
			</li>
			<li class="filter__item">
				<button class="filter__btn" type="button" data-filter=".sandwich">
					<svg class="filter__icon" width="44" height="44">
						<use href="images/sprite.svg#icon-sandwich"></use>
					</svg>
					Сендвічі
				</button>
			</li>
			<li class="filter__item">
				<button class="filter__btn" type="button" data-filter=".asia">
					<svg class="filter__icon" width="44" height="44">
						<use href="images/sprite.svg#icon-asia"></use>
					</svg>
					Азійська кухня
				</button>
			</li>
			<li class="filter__item">
				<button class="filter__btn" type="button" data-filter=".dish">
					<svg class="filter__icon" width="44" height="44">
						<use href="images/sprite.svg#icon-dish"></use>
					</svg>
					Cети
				</button>
			</li>
		</ul>

		<ul class="categories__list">
			<li class="categories__item mix burger sandwich dish">
				<article class="product-card">
					<a class="product-card__link" href="#">
						<img class="product-card__img" src="images/burger-1.jpg" width="140" height="140" alt="Чізбургер">
					</a>
					<h3 class="product-card__name">Чізбургер з листям салату</h3>
					<div class="product-card__inner">
						<span class="price">
							<span class="price__value">160</span>
							<span class="price__currency">грн.</span>
						</span>
						<button class="button" type="button">До кошика</button>
					</div>
				</article>
			</li>
			<li class="categories__item mix burger pizza asia dish">
				<article class="product-card">
					<a class="product-card__link" href="#">
						<img class="product-card__img" src="images/burger-2.jpg" width="140" height="140" alt="Біфбургер">
					</a>
					<h3 class="product-card__name">Біфбургер</h3>
					<div class="product-card__inner">
						<span class="price">
							<span class="price__value">190</span>
							<span class="price__currency">грн.</span>
						</span>
						<button class="button card__btn" type="button">До кошика</button>
					</div>
				</article>
			</li>
			<li class="categories__item mix burger pizza asia">
				<article class="product-card">
					<a class="product-card__link" href="#">
						<img class="product-card__img" src="images/burger-3.jpg" width="140" height="140" alt="Чізбургер">
					</a>
					<h3 class="product-card__name">Королівський чізбургер</h3>
					<div class="product-card__inner">
						<span class="price">
							<span class="price__value">260</span>
							<span class="price__currency">грн.</span>
						</span>
						<button class="button card__btn" type="button">До кошика</button>
					</div>
				</article>
			</li>
			<li class="categories__item mix burger pizza dish">
				<article class="product-card">
					<a class="product-card__link" href="#">
						<img class="product-card__img" src="images/burger-4.jpg" width="140" height="140" alt="Чорний гамбургер">
					</a>
					<h3 class="product-card__name">Чорний гамбургер</h3>
					<div class="product-card__inner">
						<span class="price">
							<span class="price__value">199</span>
							<span class="price__currency">грн.</span>
						</span>
						<button class="button card__btn" type="button">До кошика</button>
					</div>
				</article>
			</li>
			<li class="categories__item mix burger sandwich asia dish">
				<article class="product-card">
					<a class="product-card__link" href="#">
						<img class="product-card__img" src="images/burger-5.jpg" width="140" height="140" alt="Чікен бургер">
					</a>
					<h3 class="product-card__name">Чікен бургер</h3>
					<div class="product-card__inner">
						<span class="price">
							<span class="price__value">180</span>
							<span class="price__currency">грн.</span>
						</span>
						<button class="button card__btn" type="button">До кошика</button>
					</div>
				</article>
			</li>
			<li class="categories__item mix burger pizza sandwich">
				<article class="product-card">
					<a class="product-card__link" href="#">
						<img class="product-card__img" src="images/burger-1.jpg" width="140" height="140" alt="Чізбургер">
					</a>
					<h3 class="product-card__name">Чізбургер з листям салату</h3>
					<div class="product-card__inner">
						<span class="price">
							<span class="price__value">160</span>
							<span class="price__currency">грн.</span>
						</span>
						<button class="button" type="button">До кошика</button>
					</div>
				</article>
			</li>
			<li class="categories__item mix burger asia dish">
				<article class="product-card">
					<a class="product-card__link" href="#">
						<img class="product-card__img" src="images/burger-2.jpg" width="140" height="140" alt="Біфбургер">
					</a>
					<h3 class="product-card__name">Біфбургер</h3>
					<div class="product-card__inner">
						<span class="price">
							<span class="price__value">190</span>
							<span class="price__currency">грн.</span>
						</span>
						<button class="button card__btn" type="button">До кошика</button>
					</div>
				</article>
			</li>
			<li class="categories__item mix burger pizza dish">
				<article class="product-card">
					<a class="product-card__link" href="#">
						<img class="product-card__img" src="images/burger-3.jpg" width="140" height="140" alt="Чізбургер">
					</a>
					<h3 class="product-card__name">Королівський чізбургер</h3>
					<div class="product-card__inner">
						<span class="price">
							<span class="price__value">260</span>
							<span class="price__currency">грн.</span>
						</span>
						<button class="button card__btn" type="button">До кошика</button>
					</div>
				</article>
			</li>
			<li class="categories__item mix burger pizza sandwich asia">
				<article class="product-card">
					<a class="product-card__link" href="#">
						<img class="product-card__img" src="images/burger-4.jpg" width="140" height="140" alt="Чорний гамбургер">
					</a>
					<h3 class="product-card__name">Чорний гамбургер</h3>
					<div class="product-card__inner">
						<span class="price">
							<span class="price__value">199</span>
							<span class="price__currency">грн.</span>
						</span>
						<button class="button card__btn" type="button">До кошика</button>
					</div>
				</article>
			</li>
			<li class="categories__item mix burger sandwich dish">
				<article class="product-card">
					<a class="product-card__link" href="#">
						<img class="product-card__img" src="images/burger-5.jpg" width="140" height="140" alt="Чікен бургер">
					</a>
					<h3 class="product-card__name">Чікен бургер</h3>
					<div class="product-card__inner">
						<span class="price">
							<span class="price__value">180</span>
							<span class="price__currency">грн.</span>
						</span>
						<button class="button card__btn" type="button">До кошика</button>
					</div>
				</article>
			</li>
		</ul>
		<a class="link-more link-more--underline-focus categories__link" href="#">Показати ще</a>
	</div>
</section>